body
{
    background-color: #111111;
    position: absolute;
    top: 10%;
    left: 5%;
}

.abovetable
{
  display: flex;
  color: #e67300;
}

.tiertable
{
  top: 10%;
}

.mgmt
{
  flex: 1 1 auto;
  column-gap: 20px;
}

.tg
{
  border-collapse:collapse;border-spacing:0;margin:0px auto;
}

.tg td
{
  border-color:black;border-style:solid;border-width:1px;font-family:Arial,sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}

.tg th
{
  border-color:black;border-style:solid;border-width:1px;font-family:Arial,sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;
}

.tg-r4j4
{
  background-color:#F90;color:#FFF;font-weight:bold;text-align:center;vertical-align:middle
}

.tg-8hj0
{
  background-color:#45818E;color:#FFF;font-weight:bold;text-align:center;vertical-align:middle
}

.tg-5j2a
{
  background-color:#3D85C6;color:#FFF;font-weight:bold;text-align:center;vertical-align:middle
}

.tg-xujr
{
  background-color:#F00;color:#FFF;font-weight:bold;text-align:center;vertical-align:middle
}

.tg-6j2y
{
  background-color:#7F6000;color:#FFF;font-weight:bold;text-align:center;vertical-align:middle
}

.tg-f6rp
{
  background-color:#674EA7;color:#FFF;font-weight:bold;text-align:center;vertical-align:middle
}

.tg-639j
{
  background-color:#B7B7B7;color:#000;text-align:center;vertical-align:middle;weight:6
}

.tg-3vlg
{
  background-color:#38761D;color:#FFF;font-weight:bold;text-align:center;vertical-align:middle
}

.tg-2lj8
{
  background-color:#A64D79;color:#FFF;font-weight:bold;text-align:center;vertical-align:middle
}

@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;margin: auto 0px;}}</style>


}
